<!DOCTYPE html>
<html lang="es">
<head>
  <!--Metadatos = codificacion-->
  <?php include ("../../layout/head.php"); ?>
  <!--Metadatos SEO-->
  <meta name="keywords" content="anime, anime world, top anime 2022">
  <!--Style css-->
  <link rel="stylesheet" href="../../series/Seishun_Buta_Yaro_wa_Yumemiru_Shoujo_no_Yume_wo_Minai/Rascal_Does_Not_Dream_of_Dreaming_Girl_the_Movie.css">
  <title>Seishun Buta Yarō wa Yumemiru Shōjo no Yume wo Minai</title>
</head>
<body>
  <!-- Nav ressponsive -->
  <?php include ("../../layout/nav.php"); ?>

  <!-- banner -->
  <div class="banner container-fluid p-0">
    <div class="fondo-b">
      <div class="container text-center">
        <iframe src="https://www.yourupload.com/embed/I7MQf764wVyI" allowfullscreen="true" style="border: 0" /></iframe>
        <img class="portada-movil" src="../../assets/img/popular/Seishun Buta Yarou wa....webp" alt="">
      </div>
    </div>
  </div>

  <!--Card content-->
  <section class="series">
    <div class="container">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Seishun Buta Yarō wa Yumemiru Shōjo no Yume wo Minai</h5>
              <p class="card-text"><small class="text-muted">Audio | Japonés</small></p>

              <div class="ratings">

                <div class="estrellas">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </div>
                <span class="palito">|</span>
                <p id="puntuacion" >Puntuación media 4.9</p>
                <span class="palito">|</span>
                <p>10M de Reseñas</p>

              </div>

              <button class="button-final btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Información de la serie <i class="bi bi-info-circle-fill"></i></button>
              <div class="offcanvas offcanvas-start bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                  <h5 class="fs-2 fw-bold offcanvas-title" id="offcanvasScrollingLabel">Información</h5>
                  <button type="button" class="bg-white btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                
                <div class="offcanvas-body">
                  <p><span class="fw-bolder">Nombre:</span> Seishun Buta Yarou wa Yumemiru Shoujo no Yume wo Minai, Rascal Does Not Dream of a Dreaming Girl</p>
                  <p><span class="fw-bolder" >Tipo:</span> Película</p>
                  <p><span class="fw-bolder" >Estudio:</span> CloverWorks</p>
                  <p><span class="fw-bolder" >Año:</span> 2019</p>
                  <p><span class="fw-bolder" >Género:</span> Comedia, Romance, Escolar</p>
                  <p><span class="fw-bolder" >Resolución:</span> 1920x1080</p>
                  <p><span class="fw-bolder" >Calidad:</span> BD Excelente</p>
                  <p><span class="fw-bolder" >Duración:</span> 90 minutos</p>
                  <p><span class="fw-bolder" >Audio:</span> Japonés</p>
                  <p><span class="fw-bolder" >Subtitulos:</span> Español</p>
                  <p><span class="fw-bolder" >Formato:</span> MKV</p>
                  <p><span class="fw-bolder" >Peso:</span> 2.68GB</p>
                  <p><span class="fw-bolder" >Servidor:</span> Mega</p>
                  <p><span class="fw-bolder" >Contraseña:</span> sphinxanimehd</p>
                </div>

              </div>
              <!-- LIKE AND DISLIKE agregar -->
              <!-- <button class="b-series button-final btn btn-warning" >Ver Ahora</button> -->
              <a href="https://mega.nz/folder/2e53HYAS#-cJgvLqg8cW9tE4AcEqwIg">
                <button id="b-descargar" class="b-series button-color btn btn-outline-warning" >Descargar <i class="bi bi-arrow-down-circle"></i></button>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <img class="portada" src="../../assets/img/popular/Seishun Buta Yarou wa....webp" alt="">
            <iframe class="movil" src="https://www.yourupload.com/embed/I7MQf764wVyI" allowfullscreen="true" style="border: 0" /></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Boostrap Js CDN-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>